{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name ="symbol" placeholder = "Symbol">
                <option disabled selected>Escolha uma ação</option>
                {%for acao in acoes%}
                    <option value = {{acao.symbol}}>{{acao.symbol}}</option>
                {%endfor%}
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
